{%  extends 'abstract/main.html' %}

{% block content %}

<br>

<br>
<div class="row">
	<div class="col-md-13">
			<h5> LIST OF ABSTRACTS ASSIGNED</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Submitted Abstract</a>
			<table class="table table-sm">
				<tr>
					<th>Abstract</th>
					<th>Name</th>
                    <th>Date submitted</th>
					<th>Date Updated</th>
                    <th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for abstract in assigned_abstracts %}
                <tr>
                    <td>{{ abstract.title }} </td>
					<td>{{ abstract.author_name }}</td>
                    <td>{{ abstract.date_created }}</td>
					<td>{{ abstract.date_updated }}</td>
                    <td>{{ abstract.status}} </td>
					<td><a class= "btn btn-sm btn-info" href="{% url 'update_abstract' abstract.id %}"> Review </a></td>
					<td><a class= "btn btn-sm btn-danger" href="{% url 'delete_abstract' abstract.id %}"> Delete </a></td>
                </tr>
				{% empty %}
				<p>No assigned abstracts found.</p>
                {% endfor %}
		
			</table>
		</div>
	</div>

</div>

{% endblock %}

