{%  extends 'abstract/main.html' %}

{% block content %}
<style>
    /* CSS for centering content */
    .centered-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>
<div class="centered-content">


<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

	<form method="post">

		{% csrf_token %}
		{{form}}
		<br>
		<br>
		<input class="btn btn-info" type="Submit" name="Update Password">
		
	</form>
</div>
{% endblock %}