{%  extends 'abstract/main.html' %}

{% block content %}

{%  include 'abstract/user_status.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Title</th>
                    <th>Date Submitted</th>
                    <th>Date Updated</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Delte</th>
                    
                </tr>

                {% for abstract in aus %}
                    <tr>
                        <td>{{ abstract.title }}</td>
                        <td>{{ abstract.date_created }}</td>
                        <td>{{ abstract.date_updated }}</td>
                        <td>{{ abstract.status }}</td>
                        <td><a class= "btn btn-sm btn-info" href="{% url 'update_abstract' abstract.id %}"> Update </a></td>
                        <td><a class= "btn btn-sm btn-danger" href="{% url 'delete_abstract' abstract.id %}"> Delete </a></td>
                    </tr>

				{% endfor %}

            </table>
        </div>
    </div>
</div>


{% endblock %}