{% extends 'abstract/main.html' %}
{% load static %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <label for="abstract">Select Abstract:</label>
    <select name="abstract_id" id="abstract">
        {% for abstract in abstracts %}
            <option value="{{ abstract.id }}">{{ abstract.title }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="groups">Select Editor(s):</label><br>
    {% for editor in editors %}
        <!-- Display editors -->
        <input type="checkbox" name="groups" value="{{ editor.id }}"> {{ editor.username }}<br>
    {% endfor %}
    <br>
    <button type="submit">Assign Abstract</button>
</form>


{% endblock %}
