{% extends 'abstract/main.html' %}
{% load static %}

{% block content %}

<div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form action="#" class="contact-form form-validate" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="first_name" placeholder="Franklin">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Hassey">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="email">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="franklin@ideainlet.com">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="(233)-501473-737">
                            </div>
                        </div>
                        <!-- <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="phone">Amount</label>
                                <input type="" class="form-control" id="item_amount" name="item_amount">
                            </div>
                        </div> -->
    
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="address">Your Billing Address</label>
                                <input  type="text" class="form-control" id="message" name="address" rows="4" placeholder="Enter Your Adrress">
                            </div>
                        </div>
    
                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </div>
    
                    </div>
                </form>
</div>
{% endblock %}